@import "tailwindcss";

body {
    font-family: "Abhaya Libre", serif;
    font-weight: 100;

    background-image: url('/coleccion.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    min-height: 100vh;



}

.icono {
  width: 30px;
  height: 25px;
  color: #344F37;

  transition: all 0.2s ease;
}

.icono:hover {
  color: #98BF45;
  transform: scale(1.08);
}


.icono2 {
  width: 30px;
  height: 25px;
  color: white;

}



/* Nueva paleta de colores

rosa: #D9298A hover: #690035
azul: #011956 hover: #4EBFD9
verde oscuro: #344F37 hover: #98BF45
naranja: #F27B35 hover: #F2B035


           



*/